.footer {
  padding: 30px 15px;
  color: #fff;
  background: #484848;
}

.footer__wrapper {
  display: grid;
  gap: 30px;
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__logo img {
  width: 216px;
}

.footer__copy {
  font-size: 12px;
}

.footer__dev {
  display: block;
  width: 130px;
  height: 46px;
  margin: 10px auto 0 auto;
}