.form {
  display: grid;
  gap: 15px;  
}

.form__field {
  display: block;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

.form__field input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.form__field input::placeholder {
  font-size: 16px;
  color: #aaa;
}

.form__field span {
  position: absolute;
  left: 5px;
  bottom: 4px;
  font-size: 16px;
  color: #aaa;
}

.form__field select {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
}

.form__icon {
  position: absolute;
  right: 5px;
  bottom: 4px;
}

.form__icon img {
  width: 10px;
  height: 9px;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.form__checkbox input::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #00a1ff;
  border-radius: 2px;
  margin-right: 5px;
  transition: all .2s;
  vertical-align: middle;
}

.form__checkbox input:checked::before {
  background: #00a1ff;
}

.form__checkbox input:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all .2s;
}

.form__checkbox a {
  text-decoration: underline;
}

.form__submit {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 30px;
}